body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  color: #232f3e;
  text-align: center;
}

h2 {
  color: #ff9900;
}

.day {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checklist {
  margin: 10px 0;
}

.checklist input[type="checkbox"] {
  margin-right: 10px;
}

.notes {
  margin-top: 15px;
}

.notes textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

#countdown-banner {
  background-color: #232f3e;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

#theme-toggle {
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

body.dark-mode #countdown-banner {
  background-color: #333333;
}

.alert {
  color: #616161;
  font-size: small;
}

.exam-date {
  text-align: center;
  margin-bottom: 20px;
}

.exam-date input {
  padding: 5px;
  font-size: 1em;
}

.exam-date button {
  padding: 5px 10px;
  font-size: 1em;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.exam-date button:hover {
  background-color: #e68a00;
}

.accordion {
  margin-bottom: 10px;
}

.accordion-button {
  width: 100%;
  padding: 15px;
  text-align: left;
  background-color: #232f3e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}

.accordion-button:hover {
  background-color: #ff9900;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
  display: none;
}

.accordion-content.active {
  display: block;
}

/* 
  Dark mode 
*/
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .accordion-button {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode .accordion-button:hover {
  background-color: #444444;
}

body.dark-mode .accordion-content {
  background-color: #1e1e1e;
  border: 1px solid #444444;
}

body.dark-mode .day {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode .notes textarea {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode #countdown-banner {
  background-color: #333333;
}

body.dark-mode .exam-date button {
  background-color: #444444;
  color: #ffffff;
}

body.dark-mode .exam-date button:hover {
  background-color: #555555;
}

body.dark-mode h1 {
  color: #ff9900;
}
